version: '3.8'

services:
  gariondb:
    image: postgres
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_USER: postgres
    volumes:
      - ../20240216.05.07.07.sql:/docker-entrypoint-initdb.d/a.sql
    networks:
      otel:

  garion-ticketsrus-web:
    build: ..
    ports:
      - 9086:8080
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - "db=server=gariondb;user id=postgres;database=postgres;password=password;"
    networks:
      otel:
      
  blackbox:
    # https://github.com/prometheus/blackbox_exporter/releases
    image: prom/blackbox-exporter:v0.23.0
    container_name: blackbox
    restart: unless-stopped
    ports:
      - 9015:9115
    volumes:
      - ./blackbox/blackbox.yml:/etc/blackbox/blackbox.yml
    command: --config.file=/etc/blackbox/blackbox.yml
    networks:
      otel:


  prometheus:
    # https://github.com/prometheus/prometheus/releases
    image: prom/prometheus:v2.43.0
    container_name: prometheus
    hostname: prometheus
    restart: unless-stopped
    ports:
      - 9087:9090
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    depends_on:
      - blackbox
    networks:
      otel:

  loki:
    image: grafana/loki:2.9.0
    container_name: loki
    command: -config.file=/etc/loki/local-config.yaml
    volumes:
      - ./loki/loki.yml:/etc/loki/local-config.yaml
    ports:
      - 3215:3100
    networks:
      otel:
      
  otel-collector:
    # https://github.com/open-telemetry/opentelemetry-collector-contrib/releases
    # container_name: otel
    # hostname: otel
    image: otel/opentelemetry-collector-contrib
    command: ["--config=/etc/otel-collector-config.yaml"]
    volumes:
      - ./otel/otel.yml:/etc/otel-collector-config.yaml
    # ports:
      # - 8888:8888   # Prometheus metrics exposed by the collector
      # - 8889:8889   # Prometheus exporter metrics
      # - 4317:4317   # OTLP gRPC receiver
      # - 4318:4318   # OTLP http receiver 
      # - 9200:55679  # zpages
      # - 13133:13133 # Health check
    networks:
      otel:
    depends_on:
    - zipkin

  grafana:
    # https://github.com/grafana/grafana/releases
    image: grafana/grafana:9.4.7
    container_name: grafana
    environment:
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
      - GF_AUTH_DISABLE_LOGIN_FORM=true
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - grafana-data:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning
    restart: unless-stopped
    ports:
      - 3086:3000
    depends_on:
      - prometheus
      - loki      
    networks:
      otel:

  zipkin:
    image: ghcr.io/openzipkin/zipkin-slim:${TAG:-latest}
    container_name: zipkin
    # Environment settings are defined here https://github.com/openzipkin/zipkin/blob/master/zipkin-server/README.md#environment-variables
    environment:
      - STORAGE_TYPE=mem
    ports:
      - 9311:9411
    networks:
      otel:

  proxy:
    image: nginx
    container_name: garion-proxy
    ports:
      - 5467:80
    volumes:
      - ./nginx-default.conf:/etc/nginx/conf.d/default.conf
    networks:
      otel:
      
networks:
  otel:

volumes:
  grafana-data:
  loki:
  prometheus:
  zipkin:  