@page "/"
@using System.Diagnostics
@using TicketsRUs.WebApp.Telemetry.Traces
@using TicketsRUs.WebApp.Telemetry.Metrics
@inject ILogger<Home> log

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@if (loaded)
{
    <p class="bg-success">Loaded</p>
}
else
{
    <p class="bg-danger">Waiting...</p>
}

@code {
    bool loaded = false;

    protected override void OnInitialized()
    {
        log.LogInformation("garion-logger: logged the home page initialization");

        StartMetrics();

        using var myActivity = Traces.MyTrace.StartActivity("MyTrace");
        using var myActivity2 = Traces.MyTrace2.StartActivity("MyTrace2");

        loaded = true;

        log.LogInformation("garion-logger: traces and metrics started appropriately.");
    }

    private void StartMetrics()
    {
        Metrics.countGreetings.Add(3);
        Metrics.upDownCountGreetings.Add(3);
        // Metrics.observableCountGreetings.ob;
        // Metrics.observableUpDownCountGreetings.;
        // Metrics.observableGaugeGreetings.;
        Metrics.histogramGreetings.Record(6);
    }
}