@page "/"
@using System.Diagnostics
@using TicketsRUs.WebApp.Telemetry.Traces
@using TicketsRUs.WebApp.Telemetry.Metrics
@inject ILogger<Home> log

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@if (loaded)
{
    <p class="bg-success">Loaded</p>
}
else
{
    <p class="bg-danger">Waiting...</p>
}

@code {
    bool loaded = false;

    protected override void OnInitialized()
    {
        LogStartupMessage(log, "homePage");

        StartMetrics();

        using var myActivity = Traces.MyTrace.StartActivity("MyTrace");
        using var myActivity2 = Traces.MyTrace2.StartActivity("MyTrace2");

        log.LogInformation("garion-logger: traces and metrics started appropriately.");

        loaded = true;
    }

    private void StartMetrics()
    {
<<<<<<< HEAD
        DummyMetrics.countGreetings.Add(3);
        DummyMetrics.upDownCountGreetings.Add(3);
        DummyMetrics.histogramGreetings.Record(6);

        Metrics.homePageAccessesCount.Add(1);
=======
        Metrics.countGreetings.Add(3);
        Metrics.upDownCountGreetings.Add(3);
        Metrics.histogramGreetings.Record(6);
>>>>>>> 181ba9ca141986aea532f49bc903f6fdecb456bb
    }

    [LoggerMessage(Level = LogLevel.Information, Message = "Somebody hit this application {someAppicationName}")]
    static partial void LogStartupMessage(ILogger logger, string someAppicationName);
}