name: Garion Runner
on: [push]
jobs:

# pwd /home/garion/actions-runner/_work/ticketsrus-garion-luris/ticketsrus-garion-luris

  Pipeline:
    runs-on: self-hosted 
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET SDK
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: ${{ env.DOTNET_CORE_VERSION }}
    - name: Run Test Suite
      run: |
        cd ./TicketsRUs.Tests/
        # docker run -it --rm -v $(pwd):/app -w mcr.microsoft.com/dotnet/sdk:8.0 dotnet format --verify-no-changes --severity warn
        dotnet test

    - name: Docker Down
      run: |
          cd ./garion-staging 
          docker compose down -v
    - name: Clone Repo
      run: |
        cd ..
        rm -rf ./ticketsrus-garion-luris || true 
        git clone https://${{ secrets.GARION_CLONE_KEY }}@github.com/SnowSE/ticketsrus-garion-luris.git
    - name: Lint 
      run: |
        # dotnet format --verify-no-changes # --severity warn
    - name: Docker Up
      run: |
        cd ./garion-staging 
        docker build -t 144.17.92.15:5000/garion/blazor-web:1 .
        docker push 144.17.92.15:5000/garion/blazor-web:1
        kubectl apply -f kube/
        # docker compose up --build -d

    - uses: actions/checkout@master
    - name: Microsoft Teams Notification
      if: success()
      uses: skitionek/notify-microsoft-teams@master
      with:
        webhook_url: ${{ secrets.GARION_WEBHOOK }}
        needs: ${{ toJson(needs) }}
        job: ${{ toJson(job) }}
        steps: ${{ toJson(steps) }}
    - name: Microsoft Teams Notification (On Failure)
      if: failure()
      uses: skitionek/notify-microsoft-teams@master
      with:
        webhook_url: ${{ secrets.GARION_WEBHOOK }}
        needs: ${{ toJson(needs) }}
        job: ${{ toJson(job) }}
        steps: ${{ toJson(steps) }}
        overwrite: "{title: `Runner failed! ${workflow_link}`}"